.mtd-text-center {
    text-align: center;
}

.mtd-doc {
    margin-top: 1em;
}

.mtd-doc-title {
    font-size: 1.5em;
    margin-left: 10px;
    font-weight: 300;
    line-height: 1em;
}

.mtd-doc-subtitle {
    font-size: 1em;
    margin-left: 10px;
    font-weight: 300;
}

.mtd-doc-content {
    padding-top: 2px;
}

.mtd-doc-catalog {
    margin-top: 1em;
    width: 100%;
}

.mtd-doc-catalog>ul>li {
    padding: 0
}

.mtd-doc-catalog a {
    text-decoration: none;
    color: #666;
}


/*自定义页脚样式*/

.mlt-footer {
    /*页脚整体外观*/
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 10pt;
    color: #222;
    margin-top: 5em;
}

.mlt-footer p,
.mlt-footer .link {
    /*页脚链接和文字*/
    margin-left: 30px;
    color: #666;
    display: inline-block;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 10pt;
    margin-right: 30px;
    text-decoration: none;
}

.mlt-footer>a:visited {
    color: #609;
    text-decoration: none;
}

.detect-hidden-p li:last-of-type {
    display: none;
    /*隐藏最后一个主题的分割线*/
}

;